.searchBox .searchBar{
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.5);
    outline: none;
    border: 1px solid gray;
    box-shadow: 0 5px rgba(0,0,0,0.4);
    color: black;
}
